.callback {
  font-family: $font-special;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: $basic-gable-green;
  background-color: $basic-dodger-blue;
  background-image: url("../img/airplane-triangles.svg");
  background-repeat: no-repeat;
  background-size: 1890px 764px;
  background-position: 103px -59px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/airplane-triangles.svg");
  }

  @media (max-width: 1630px) {
    background-position: calc(60% + 100px) -59px;
  }

  @media (max-width: $tablet-width-only) {
    justify-content: center;
    background-image: none;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
    background-image: none;
  }
}

.callback__wrapper {
  @include wrapper;
  display: flex;
  justify-content: flex-end;
  padding: 70px 20px 91px 20px;
  background-image: url("../img/airplane.png");
  background-repeat: no-repeat;
  background-size: 518px 285px;
  background-position: calc(60% - 466px) 163px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/airplane-2x.png");
  }

  @media (max-width: 1202px) {
    background-position: calc(60% - 538px) 163px;
  }

  @media (max-width: $tablet-width-only) {
    padding: 20px 20px 81px 20px;
    justify-content: center;
    background-image: none;
  }

  @media (max-width: $mobile-width-only) {
    padding: 20px 15px 14px 15px;
    justify-content: center;
    background-image: none;
  }
}

.callback__container {
  width: 593px;
  padding: 22px 10px 22px 13px;
  margin-right: 12.1%;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    width: 100%;
    padding: 22px 9.1% 22px 9.5%;
    align-items: center;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

.callback__container b {
  @include reset-list;
  margin: 0 0 10px -3px;
  font-family: $font-special;
  text-align: left;
  display: block;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  font-style: normal;
  color: $basic-white;

  @media (max-width: $tablet-width-only) {
    margin: 37px 0 18px 0;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 9px 0 14px 0;
    font-size: 28px;
    line-height: 39px;
  }
}

.callback__container p {
  @include reset-list;
  margin: 0 0 51px 1px;
  font-family: $font-basic;
  text-align: left;
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: $basic-white;


  @media (max-width: $tablet-width-only) {
    margin: 0 0 53px 3px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 26px 0;
  }
}

.callback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.callback__form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 133px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 48px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin: 0;
  }
}

.callback__form-wrapper input[type="text"],
.callback__form-wrapper input[type="tel"] {
  width: 270px;
  padding: 11px 16px 16px;
  margin: 0 0 39px 0;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.6;
  }


  &::placeholder {
    font-family: $font-basic;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;
  }

  @media (max-width: $tablet-width-only) {
    width: 279px;
    padding: 11px 19px 18px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding: 14px 16px 15px 16px;
    margin: 0 0 30px 0;
  }
}

.callback__form-wrapper textarea {
  width: 100%;
  height: 100%;
  padding: 12px 16px 8px 16px;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  resize: none;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.6;
  }


  &::placeholder {
    font-family: $font-basic;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;
  }

  @media (max-width: $tablet-width-only) {
    padding: 13px 19px 12px;
    height: 159px;
  }

  @media (max-width: $mobile-width) {
    padding: 13px 16px;
    height: 104px;
  }
}


.callback__button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    justify-content: center;
    padding: 29px 0;
  }
}


.callback__button {
  max-width: 270px;
  padding: 12px 10px 14px;
  border: 1px solid $basic-white;
  align-items: flex-start;
  order: 1;

  &:hover {
    color: $basic-dodger-blue;
    background-color: $basic-white;
    border: 1px solid $basic-white;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width-only) {
    max-width: 279px;
    padding: 14px 10px 15px;
    margin-left: 4px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto 28px auto;
    width: 100%;
    padding: 15px 10px 16px;
    flex-grow: 1;
    align-items: center;
  }
}

.callback__button-input {
  top: 25px;
  left: 312px;

  @media (max-width: $tablet-width-only) {
    top: 25px;
    left: 325px;
  }

  @media (max-width: $mobile-width-only) {
    top: 120px;
    left: 0;
  }
}

.callback__button-wrapper input[type="checkbox"] + label {
  font-family: $font-basic;
  text-align: left;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 0 0 70px;
  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  opacity: 0.8;
  box-sizing: border-box;
  cursor: pointer;
  order: 2;

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width-only) {
    padding-left: 12.2%;
    padding-top: 9px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 35px;
    padding-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 39px;
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;

    @media (max-width: $tablet-width-only) {
      top: 10px;
      left: 40px;
    }

    @media (max-width: $mobile-width-only) {
      top: 1px;
      left: 0;
    }
  }
}

.callback__button-wrapper input[type="checkbox"]:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 43px;
    width: 16px;
    height: 16px;
    background: url("../img/icon-accept.svg") no-repeat;

    @media (max-width: $tablet-width) {
      top: 14px;
      left: 43px;
    }

    @media (max-width: $mobile-width-only) {
      top: 5px;
      left: 3px;
    }
  }
}
