.main-nav {
  display: flex;
  padding: 33px 5% 0 5%;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-only) {
    @include reset-list;
    padding: 20px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 17px 0 0 0;
  }
}

.main-nav__logo {
  flex-grow: 1;

  @media (max-width: $tablet-width-only) {
    padding: 0 0 0 2px;
  }

  @media (max-width: $mobile-width-only) {
    width: 38px;
    height: 38px;
  }
}

.main-nav__logo img {
  @media (max-width: $mobile-width-only) {
    width: 38px;
    height: 38px;
  }
}

.main-nav__list {
  @include reset-list;
  padding: 7px 3px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-only) {
    padding: 7px 0;
  }

  @media (max-width: $mobile-width-only) {
    @include reset-list;
  }
}

.main-nav__item {
  padding: 3px 3px 3px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 78px;
  font-family: $font-basic;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: $basic-white;

  &:last-child {
    margin-right: 43px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width-only) {
    @include reset-list;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__icon {
  cursor: pointer;
  fill: $basic-dodger-blue;
}

.main-nav__icon--phone {
  margin: 3px 16px 3px 4px;
  fill: $basic-dodger-blue;

  @media (max-width: $tablet-width-only) {
    width: 24px;
    height: 24px;
    margin: 4px 0 3px 15px;
  }
}

.main-nav__icon--mail {
  margin: 4px 20px 3px 4px;
  fill: $basic-dodger-blue;

  @media (max-width: $tablet-width-only) {
    width: 26px;
    height: 19px;
    margin: 3px 15px 3px 4px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 2px 7px 3px 4px;
  }
}

.main-nav__link {
  color: $basic-white;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-nav__button {
  align-self: start;
  width: 180px;
  padding: 13px 25px 14px 21px;
  margin-right: 2px;
  margin-top: 4px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-nav__button span {
  @include reset-list;
}
