.page-main {
  color: $basic-dove-gray;
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
}

.page-main__triangle {
  box-sizing: border-box;
  background-image: url("../img/triangle-advantages.svg");
  background-size: 2242px 1346px;
  background-position: center -28px;
  background-repeat: no-repeat;

  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/triangle-advantages.svg");
  }
}
