.page-body {
  font-family: $font-basic;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  color: $basic-dove-gray;
  background-color: $basic-white;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
